#Para saber mais .gitignore 
#	https://git-scm.com/docs/gitignore

#Exemplo do .gitignore visual studio 
#	https://github.com/github/gitignore/blob/master/Android.gitignore

.gradle
/local.properties


.DS_Store
/build

#todos os arquivos dentro do diretótio .idea
.idea/
.idea

#todos os arquivos termiados com .iml
*.iml
